{{define "title"}}Abenga.com{{end}}

{{define "description"}}Software Engineer in Nairobi, Kenya{{end}}

{{define "content"}}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/author/">Author Page</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#NewPostSeriesModal" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;new post series</a></li>
        <li><a href="#NewPostModal" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;new post</a></li>
        <li><a href="#EditAuthorDetailsModal"><i class="fa fa-edit"></i>&nbsp;edit profile</a></li>
      </ul>
    </div>        
  </div>
</nav>

<form class="" id="NewPostForm" method="post">
  <h1 class="underlined">Edit Post</h1>
  <fieldset>

    <div class="form-group">
      <label for="Title">Title</label>
      <input type="text" class="form-control required mono small-txt" id="Title" name="Title" placeholder="Title" value="{{ index .Post "Title" }}">
    </div>

    <div class="form-group">
      <label for="AbstractMD">Abstract</label>
      <textarea class="form-control required mono small-txt" rows="6" id="AbstractMD" name="AbstractMD" placeholder="Summary, in Markdown">{{ index .Post "AbstractMD" }}</textarea>
    </div>

    <div class="form-group">
      <label for="BodyMD">Body</label>
      <textarea class="form-control required mono small-txt" rows="20" id="BodyMD" name="BodyMD" placeholder="Full post content, in Markdown">{{ index .Post "BodyMD" }}</textarea>
    </div>

    <div class="form-group">
      <label for="Tags">Tags</label>
      <input type="text" class="form-control mono small-txt required" id="Tags" name="Tags" placeholder="Tags" value="{{ index .Post "Tags" }}">
    </div>

  </fieldset>
  <div class="form-group text-right">
    <button class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Save</button>
  </div>
</form>
{{end}}