{{define "title"}}Abenga.com{{end}}

{{define "description"}}Software Engineer in Nairobi, Kenya{{end}}

{{define "content"}}
  <h1>Create Author Profile</h1>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="form-group">Creating User for <strong>{{ index .Author.Email }}</strong></div>
      <form method="post" action="/author/register/">
        <fieldset class="row">
          <div class="form-group col-md-4">
            <label for="FirstName">First name</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First name">
          </div>
          <div class="form-group col-md-4">
            <label for="LastName">Last name</label>
            <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last name">
          </div>
          <div class="form-group col-md-4">
            <label for="OtherNames">Other names</label>
            <input type="text" class="form-control" id="OtherNames" name="OtherNames" placeholder="Other names">
          </div>
        </fieldset>
        <div class="form-group">
          <label for="BioMD">Bio</label>
          <textarea class="form-control" id="BioMD" name="BioMD" placeholder="Bio, in MarkDown syntax" rows="4"></textarea>
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Submit</button>
        </div>
      </form>
    </div>
  </div>

{{end}}