{% extends "base.html" %}

{% block contents %}
<div class="row">
    <div class="col-md-2 d-md-block d-sm-none"></div>
    <div class="col-md-8">
        <h1>Introduction to GTK+ Programming Using Vala</h1>
        <p>This is an introductory tutorial on programming for the GNOME platform using
<a href="http://www.gtk.org">GTK+3</a> in <a href="https://live.gnome.org/Vala">Vala</a>. It is based
on and will closely follow the popular
<a href="http://developer.gnome.org/gtk-tutorial/2.90/">GTK+2.0 tutorial</a> written by
Tony Gale, Ian Main, and the GTK team.</p>

        <hr>
        <div class="card">
    <div class="card-body">
        <h5 class="card-title">First Programs</h5>
        <p>We will start with the simplest program possible: a program that will create a
200px by 200px window and has no way of exiting except to be killed using the
shell.</p>

        <a href="/post/449925d0-78a1-45d0-86dd-fd3dd7c40e9b" class="btn btn-sm">view</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Layout Widgets</h5>
        <p>Layout widgets help us to lay out several widgets in a window. They enable us to control the size of these widgets, and how they are positioned in the window. We look at two examples of packing widgets: Boxes and Grids.</p>

        <a href="/post/09817963-ac7b-4ec6-9412-8f9061db636b" class="btn btn-sm">view</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Moving On</h5>
        <p>Here, we shall look at the various types of data types supported by Vala, and extend <em>Hello World</em> a bit more.</p>

        <a href="/post/48d9ba85-d78e-4144-9254-473a11270739" class="btn btn-sm">view</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Getting Started</h5>
        <p>Before we can begin programming, we need to install GTK and Vala,
along with their dependencies.</p>

        <a href="/post/7f65b2f1-7776-4643-96b6-472320519828" class="btn btn-sm">view</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Numeric and Text Data Entry</h5>
        <p>Here, we will study several widgets that allow the user to enter text and numbers into the application.</p>

        <a href="/post/c4d71c55-1031-4657-a847-5eb1f1f8740f" class="btn btn-sm">view</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Background</h5>
        <p><a href="http://www.gtk.org">GTK+</a> (acronym for the <em>GIMP Toolkit</em>) is a
library for creating graphical user interfaces. It works on many
UNIX-like platforms, Windows, and OS X.</p>

<p><a href="https://live.gnome.org/Vala/">Vala</a> is a new programming language that aims
to bring modern programming language features to GNOME developers without
imposing any additional runtime requirements and without using a different
ABI compared to applications and libraries written in C.</p>

        <a href="/post/84a8a2cc-9944-4213-9936-760bac7aba46" class="btn btn-sm">view</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Button Widgets</h5>
        <p>A brief look at some of the Button Widgets.</p>

        <a href="/post/69ec966e-16c2-49f9-81ea-d4fdab86f6c8" class="btn btn-sm">view</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Widget Overview</h5>
        <p>Brief overview of widgets.</p>

        <a href="/post/88083ead-42bd-42fd-b19a-1ff1e35198f6" class="btn btn-sm">view</a>
    </div>
</div>

    </div>
    <div class="col-md-2 d-md-block d-sm-none"></div>
</div>
{% endblock %}
