
$fa-font-path:     "/static/fonts/fontawesome/";

$font-size-base: 1.3rem;
$font-weight-base: 400;
$font-weight-bold: 700;
$font-family-sans-serif: "Lato", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Lora", Georgia, serif;
$font-family-monospace: "Ubuntu Mono",  monospace;
