$fa-font-path:     "/static/fonts/fontawesome/";
$font-size-base:   0.9rem !default;
$font-family-sans-serif: "Montserrat", Arial, sans-serif;
$font-family-serif: "PT Serif", "Libre Baskerville", Georgia, serif;
$font-family-monospace: "Ubuntu Mono",  monospace;
