
$fa-font-path:     "/static/fonts/fontawesome";

$font-size-base: 1.1rem;
$font-weight-base: 400;
$font-weight-bold: 700;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Lora", Georgia, serif;
$font-family-monospace: "Ubuntu Mono", monospace;

$link-hover-decoration: none;

$primary: #228;

$h1-font-size: $font-size-base * 2.2;
$h2-font-size: $font-size-base * 2.035;
$h3-font-size: $font-size-base * 1.87;
$h4-font-size: $font-size-base * 1.705;
$h5-font-size: $font-size-base * 1.54;
$h6-font-size: $font-size-base * 1.375;

$grid-breakpoints: (
  xs: 0,
  sm: 700px,
  md: 900px,
  lg: 1300px,
  xl: 1800px
);
