[databases]

[databases.local]
protocol = "postgresql"
server = "localhost"
port = 5432
database = "database"
user = "user"
password = "******"
echo = true

[databases.remote]
protocol = "postgresql"
server = "remote_host"
port = 5432
database = "user"
user = "user"
password = "*****"
echo = false

[directories]

[directories.local]
data_dir = "/home/horace/Documents/Development/Rust/abenga_site/data/"

[directories.remote]
data_dir = "/home/admin/Rust/abenga_site/data/"
