{% extends "base.html" %}

{% block contents %}
<div class="row">
  <div class="col-md-12 text-center">
    <div id="home-card">
      <img class="rounded-circle d-block mx-auto" src="/assets/img/av/horace.jpg" width="200" height="200" alt="headshot">
      <p class="large">&nbsp;</p>
      <p class="large">Hi! I'm Horace Abenga,<br/>
        a software engineer based in Nairobi, Kenya.</p>
      <p class="extra-large">
        <a href="https://github.com/abenga"><i class="bi bi-github"></i></a>
        <a href="https://linkedin.com/in/horace-abenga/"><i class="bi bi-linkedin"></i></a>
      </p>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
