{{#*inline "page"}}
<div class="container-fluid">
  <div class="row">
    <div class="col d-none d-md-block"></div>
    <div class="col col-md-10 col-lg-8 col-xl-6">
      <div>&nbsp;</div>
      <img class="rounded-circle mx-auto d-block" src="/static/img/av/horace.jpg" width="150">
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div id="home-text">
        <p>Hi there! My name is<br/><span class="home-name">Horace Abenga</span></p>
        <p>I am a software developer based in Nairobi, Kenya.</p>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <p class="profile-icons text-center">
          <a href="https://bitbucket.org/abenga/"><i class="fa fa-bitbucket bitbucket"></i></a>
          <a href="https://twitter.com/HoraceAbenga"><i class="fa fa-twitter twitter"></i></a>
        </p>
      </div>

    </div>
    <div class="col d-none d-md-block"></div>
  </div>
</div>
{{/inline}}
{{~> (parent)~}}
