<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="author" content="{{author}}" />
  <meta name="description" content="{{description}}" />
  <meta name="keywords" content="" />

  <title>{{ title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="/assets/css/abenga_site.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/assets/img/favicon.ico" />
</head>

<body class="d-flex flex-column h-100">
  {% include "pieces/header.html" %}
  <main class="flex-shrink-0 container">{% block contents %}{% endblock %}</main>
  {% include "pieces/footer.html" %}
</body>
<script src="/assets/js/lib/vendor/bootstrap.min.js"></script>
</html>
