<footer class="footer mt-auto py-3">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <p>&nbsp;</p>
      <p><span class="text-muted">&copy;&nbsp;Horace Abenga</span></p>
    </div>
    <div class="col"></div>
  </div>
</footer>