<div class="row">
  <div class="col"></div>
  <div class="col">
    <nav class="navbar navbar-expand-md mb-4">
      <a class="navbar-brand" href="/">home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/posts/">posts</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col"></div>
</div>