<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/"><i class="fa fa-home"></i></a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
{{!--     <a class="p-2" href="/posts/">posts</a> --}}
{{!--     <a class="p-2" href="/static/doc/abenga-cv.pdf">résumé</a> --}}
  </nav>
</div>
