<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="author" content="Horace Abenga" />
  <meta name="keywords" content="" />
  <title>{{template "title" .}}</title>
  <meta name="description" content='{{template "description" .}}' />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
  <link href="/static/css/styles.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/static/img/favicon.ico" />
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <nav class="navbar navbar-expand-md mb-4">
        <a class="navbar-brand" href="/">home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/posts/">posts</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
      <div class="col"></div>
      <div class="col">{{ template "content" .}}</div>
      <div class="col"></div>
  </div>
</div>
<div class="container-fluid" id="footer">
  <div class="row">
    <div class="col"></div>
    <div class="col text-center">
      <p>&nbsp;</p>
      <p><span class="text-muted">&copy;&nbsp;Horace Abenga</span></p>
    </div>
    <div class="col"></div>
  </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
   window.jQuery || document.write('<script src="/static/js/lib/vendor/jquery.min.js"><\/script>');
</script>
<script src="/static/js/lib/vendor/tether.min.js"></script>
<script src="/static/js/lib/vendor/popper.min.js"></script>
<script src="/static/js/lib/vendor/bootstrap.min.js"></script>
<script src="/static/js/src/main.js"></script>
<script>
if (window.location.host.substring(0, 'localhost'.length) !== 'localhost') {(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-42175208-1', 'abenga.com');ga('require', 'displayfeatures');ga('send', 'pageview');}
</script>
</html>
