<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="author" content="Horace Abenga" />
  <meta name="description" content="Software developer from Nairobi, Kenya." />
  <meta name="keywords" content="" />

  <title>{{template "title" .}}</title>

  <link href="/static/css/abenga.css" rel="stylesheet" />



  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">



  <link rel="shortcut icon" href="/static/img/favicon.ico" />

</head>

<body>

  <nav class="navbar" role="navigation">
    <div class="container-fluid">
      <p class="navbar-text">
        <a class="btn btn-lg toggle-menu menu-left" data-toggle="collapse" data-target="#SideMenu"><i class="fa fa-bars"></i></a>
        <a class="btn btn-lg" href="/"><i class="fa fa-home"></i></a>
      </p>
      <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="SideMenu">
        <div id="LogoContainer">
          <a href="/"><img src="/static/img/logo.png" width="100"></a>
        </div>
        {{ if .Author }}
          {{ if .Author.Email }}
            <ul class="nav nav-stacked">
              <li><a href="/author/"><i class="fa fa-user"></i>&nbsp;&nbsp;{{ .Author.FirstName }} {{ .Author.LastName }}</a></li>
              <li><a href="{{ .LogoutURL}}"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out</a></li>
            </ul>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </nav>

  <div class="container" id="content">
    {{ template "content" .}}
    <hr>
    <footer>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1">
          <p class="text-right text-muted"><em>&copy; Horace Abenga</em></p>
        </div>
      </div>
    </footer>
  </div><!-- /.container -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

  <script src="/static/js/lib/vendor/bootstrap.min.js"></script>
  <script src="/static/js/lib/vendor/jPushMenu.js"></script>
  <script src="/static/js/lib/vendor/highlight.pack.js"></script>

  <script src="/static/js/src/main.js"></script>

  <script>
    if (window.location.host.substring(0, 'localhost'.length) != 'localhost') {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42175208-1', 'abenga.com');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    }
  </script>
</body>
</html>
