{{define "title"}}Horace Abenga | Back End Software Engineer{{end}}

{{define "description"}}Software Engineer in Nairobi, Kenya{{end}}

{{define "content"}}
    <div class="row">
        <div class="col d-sm-none d-md-block d-lg-block d-xl-block"></div>
        <div class="col">
            <img class="rounded-circle mx-auto d-block" src="/static/img/horace-headshot.jpg" width="220">
            <div>&nbsp;</div>
            <div class="text-center">
                <p class="welcome-text">Hi there!</p>
                <p class="welcome-text">I am Horace, a software developer based in Nairobi, Kenya.</p>
                <p class="profile-icons text-center">
                    <a href="https://twitter.com/HoraceAbenga"><i class="fa fa-twitter twitter"></i></a>
                    <a href="https://bitbucket.org/abenga/"><i class="fa fa-bitbucket bitbucket"></i></a>
                </p>
            </div>
        </div>
        <div class="col d-sm-none d-md-block d-lg-block d-xl-block"></div>
    </div>
{{end}}