{{define "title"}}Horace Abenga | Back End Software Engineer{{end}}

{{define "description"}}Software Engineer in Nairobi, Kenya{{end}}

{{define "content"}}

{{if index .Misc "Posts" }}
    {{ range index .Misc "Posts"}}
        <h2 class="heading"><a href="/post/{{ index . "YearAdded" }}/{{ index . "MonthAdded" }}/{{ index . "DayAdded" }}/{{ index . "JoinedTitle" }}/">{{ if index . "PositionInSeries" }}{{ index . "PositionInSeries" }}.&nbsp;{{ end }}{{ index . "Title" }}</a></h2>
        <div>{{ index . "AbstractHTML" }}</div>
        <p class="text-muted text-right">
            <em class="small">Posted on {{ index . "DateAdded" }}</em><br/>
            <a class="" href="/post/{{ index . "YearAdded" }}/{{ index . "MonthAdded" }}/{{ index . "DayAdded" }}/{{ index . "JoinedTitle" }}/"><i class="fa fa-book"></i>&nbsp;<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>
        </p>
    {{ end }}
{{ end }}


{{end}}