{{define "title"}}{{index .Post "Title"}} | {{if index .Post "SeriesTitle"}}{{index .Post "SeriesTitle"}} | {{end}} Horace Abenga{{end}}

{{define "description"}}{{ index .Post "AbstractMD" }}{{end}}

{{define "content"}}
  {{if .Post}}
  {{if index .Post "SeriesTitle"}}
    <div class="row">
      <div class="col">
        {{if index .Post "PreviousPostJoinedTitle"}}<span><a class='btn btn-sm' href='/post/{{index .Post "PreviousPostYearAdded"}}/{{index .Post "PreviousPostMonthAdded"}}/{{index .Post "PreviousPostDayAdded"}}/{{index .Post "PreviousPostJoinedTitle"}}/'><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{index .Post "PreviousPostPositionInSeries"}}.&nbsp;{{index .Post "PreviousPostTitle"}}</a></span>&nbsp{{else}}&nbsp;{{end}}
      </div>
      <div class="col text-right">{{if index .Post "NextPostJoinedTitle"}}<span><a class='btn btn-sm' href='/post/{{index .Post "NextPostYearAdded"}}/{{index .Post "NextPostMonthAdded"}}/{{index .Post "NextPostDayAdded"}}/{{index .Post "NextPostJoinedTitle"}}/'>{{index .Post "NextPostPositionInSeries"}}.&nbsp;{{index .Post "NextPostTitle"}}&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a></span>{{end}}</div>
    </div>
  {{end}}
    <h1 class="heading">{{index .Post "Title"}}</h1>
    <blockquote class="small">
      <p>This is a post in the <a href='/postseries/{{index .Post "SeriesJoinedTitle"}}/'>{{index .Post "SeriesTitle"}}</a> series.</p>
      {{index .Post "SeriesAbstract"}}
    </blockquote>
    {{index .Post "BodyHTML"}}
    {{if index .Post "SeriesTitle"}}
      <div><p>&nbsp;</p></div>
      <div class="row">
        <div class="col">
          {{if index .Post "PreviousPostJoinedTitle"}}<span><a class='btn btn-sm' href='/post/{{index .Post "PreviousPostYearAdded"}}/{{index .Post "PreviousPostMonthAdded"}}/{{index .Post "PreviousPostDayAdded"}}/{{index .Post "PreviousPostJoinedTitle"}}/'><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{index .Post "PreviousPostPositionInSeries"}}.&nbsp;{{index .Post "PreviousPostTitle"}}</a></span>&nbsp{{else}}&nbsp;{{end}}
        </div>
        <div class="col text-right">{{if index .Post "NextPostJoinedTitle"}}<span><a class='btn btn-sm' href='/post/{{index .Post "NextPostYearAdded"}}/{{index .Post "NextPostMonthAdded"}}/{{index .Post "NextPostDayAdded"}}/{{index .Post "NextPostJoinedTitle"}}/'>{{index .Post "NextPostPositionInSeries"}}.&nbsp;{{index .Post "NextPostTitle"}}&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a></span>{{end}}</div>
      </div>
    {{end}}
  {{end}}
{{end}}
