{{define "title"}}{{index .Misc "PostSeries" "Title"}} | Horace Abenga{{end}}

{{define "description"}}{{ index .PostSeries "AbstractMD" }}{{end}}

{{define "content"}}
{{if index .Misc "PostSeries" }}
  <div class="">
    <h1>{{ index .Misc "PostSeries" "Title" }}</h1>
    <div>{{ index .Misc "PostSeries" "AbstractHTML" }}</div>
    <div class="text-right">{{ index .PostSeries "Tags" }}</div>
  </div>
{{ end }}

{{if index .Misc "Posts" }}
  {{ range index .Misc "Posts"}}
    <div class="card-block">
      <h2 class="heading"><a href="/post/{{ index . "YearAdded" }}/{{ index . "MonthAdded" }}/{{ index . "DayAdded" }}/{{ index . "JoinedTitle" }}/">{{ if index . "PositionInSeries" }}{{ index . "PositionInSeries" }}.&nbsp;{{ end }}{{ index . "Title" }}</a></h2>
      <div>{{ index . "AbstractHTML" }}</div>
      <p class="text-muted text-right">
        <em class="small">Posted on {{ index . "DateAdded" }}</em><br/>
        <a class="" href="/post/{{ index . "YearAdded" }}/{{ index . "MonthAdded" }}/{{ index . "DayAdded" }}/{{ index . "JoinedTitle" }}/"><i class="fa fa-book"></i>&nbsp;<i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a></p>
    </div>
  {{ end }}
{{ end }}
{{end}}